<a href="https://colab.research.google.com/github/efsilva0804/Ciencias_Dados_EBAC/blob/master/EXERCICIO_EBAC_MODULO_I.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://raw.githubusercontent.com/andre-marcos-perez/ebac-course-utils/main/media/logo/newebac_logo_black_half.png" alt="ebac-logo">

---

# **Módulo** | Python: Variáveis & Tipos de Dados
Caderno de **Exercícios**<br> 
Professor [André Perez](https://www.linkedin.com/in/andremarcosperez/)

Aluno: [Enio Silva](https://www.linkedin.com/in/enio-silva-4090b46a/)


---

# **Tópicos**

<ol type="1">
  <li>Introdução ao Google Colab;</li>
  <li>Variáveis;</li>
  <li>Números;</li>
  <li><i>Strings;</i></li>
  <li>Boleanos.</li>
</ol>

---

# **Exercícios**

## 1\. Google Colab

Crie uma célula de código que escreva o texto "Olá mundo!", utilize o comando `print`.

In [1]:
print('Olá Mundo!')

Olá Mundo!

Crie uma célua de texto e adicione uma imagem.


---
<img src="https://raw.githubusercontent.com/efsilva0804/Ciencias_Dados_EBAC/0b69d3f0993106a0d0ac768056921d52438f625f/Dados/logo/01.%20Corporate-0050-Back.jpg" alt="efsilva">

---

## 2\. Números

Preencha as células de código para preencher os valores de (A), (B) e (C) na tabela de ticket médio abaixo:

<br>

| Dia   | Valor Total Vendas | Qtd Total Vendas | Ticket Medio |
|-------|--------------------|------------------|--------------|
| 19/01 | (A)=961.56                | 3                | 320.52       |
| 20/01 | 834.47             | (B) = 7              | 119.21       |
| 23/01 | 15378.12           | 5                | (C) = 3075.62          |

In [1]:
 (A) = 3 * 320.52
 print(A)

961.56

In [3]:
(B) = 834.47 / 119.21
print(B)

7.000000000000001

In [6]:
(C) = 15378.12 / 5
print(C)

3075.6240000000003

---

## 3\. Strings

Aplique três métodos distintos na *string* abaixo, você pode conferir alguns métodos neste [link](https://www.w3schools.com/python/python_ref_string.asp):

In [9]:
cancao = 'Roda mundo, roda gigante, roda moinho, roda pião.'

#Método upper
#Todos em maiusculo

In [10]:
print(cancao.upper())

RODA MUNDO, RODA GIGANTE, RODA MOINHO, RODA PIÃO.

#Método find
#encontra a posição

In [12]:
posicao = cancao.find('pião')

In [13]:
print(posicao)

44

#Método replace
#Substitui as strinds

In [14]:
print(cancao.replace('roda', 'rd'))

Roda mundo, rd gigante, rd moinho, rd pião.

Extraia da string abaixo o valor da taxa **selic** na variável `selic` e o valor do **ano** na variavel `ano`. Imprima os valores na tela.

In [16]:
noticia = 'Selic vai a 2,75% e supera expectativas; é a primeira alta em 6 anos.'

In [39]:
posicao = noticia.find('2')
print(posicao)
posicao1 = noticia.find('%')
print(posicao1)

12
16

#Valor Selic

In [40]:
selic = noticia[posicao:posicao1+1]
print('Selic = ', selic)

Selic =  2,75%

In [42]:
posicao = noticia.find('em')
print(posicao)
posicao1 = noticia.find('6')
print(posicao1)

59
62

#Valor Ano

In [46]:
ano = noticia[posicao+2:posicao1+1]
print('Ano = ', ano)

Ano =   6

---

## 4\. Booleanos

Utilize a tabela da verdade para responder: qual o valor da variável x?

In [47]:
a = False
b = True

x = not a & b

In [48]:
print(x)

True